<div class="row footer">
    <div class="row xs-center footer__logo-row">
        {%  include 'components/logo.twig' with {"__variable": "colored"}  %}
    </div>
    <div class="row xs-center footer__copyright-row">
        <a class="footer__copyright" href="http://kvott.ru" target="_blank">
            <span class="footer__copyright-line">
                Дизайн и разработка
            </span>
            <span class="footer__copyright-line">
                Студия <b>Квотт.</b>
            </span>
        </a>
    </div>
</div>
