<div class="icon-trigger">
    <div class="icon-trigger__icon">
        <img class="icon-trigger__img" src="{{ __scope.icon }}" alt="">
    </div>
    <div class="icon-trigger__text">
        <div class="icon-trigger__title">
            {{ __scope.title | raw }}
        </div>
        <div class="icon-trigger__description">
            {{ __scope.description }}
        </div>
    </div>
</div>