<div id="formDefault" class="modal">
    <div class="modal__container">
        <img class="modal__close" src="./icon/cancel.svg">
        <div class="modal__head">
            Получить лицензию
        </div>
        <div class="modal__body">
            {% include "components/form.twig" with {"__class": "formDefault", "__mod": "_medium", "__formName": "Заявка"} %}
        </div>
    </div>
</div>