<div class="row xs-center">
    <div class="xs-center xs-12 md-6">
        <div class="sale">
            <h2 class="sale__title">
                {{ __root.sale.title }}
            </h2>
            <div class="sale__period">
                {{ __root.sale.text }}
            </div>
            <div class="sale__btn">
                <button class="btn btn_big" data-modal='{"name": "formDefault", "id": "form"}' onclick="yaCounter48293603.reachGoal('get_license'); return true;">
                    {{ btn.default }}
                </button>
            </div>
        </div>
    </div>
</div>
