<div class="offer-price xs-center hg-start">
    <div class="offer-price__item">
        <div class="offer-price__caption">
            {{ __scope.price_caption }}
        </div>
        <div class="offer-price__caption offer-price__caption_bold">
            {{ __scope.price_value }}
        </div>
    </div>
    <div class="offer-price__item">
        <div class="offer-price__caption">
            {{ __scope.date_caption }}
        </div>
        <div class="offer-price__caption offer-price__caption_bold">
            {{ __scope.date_value }}
        </div>
    </div>
</div>
